{% extends "base.html" %}

{% block title %}About - {{ info.name }}{% endblock %}

{% block content %}
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-4 h-100">
                <h2 class="mb-4">About Me</h2>
                <p style="color: #aaa; line-height: 1.8;">{{ info.about }}</p>
                
                <h4 class="mt-4">Education</h4>
                {% for edu in info.education %}
                <div class="mt-3">
                    <h5>{{ edu.institution }}</h5>
                    <p class="mb-1">{{ edu.degree }}</p>
                    <small style="color: #888;">{{ edu.year }} | {{ edu.semester }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card p-4 h-100">
                <h2 class="mb-4">Technical Skills</h2>
                <div class="row">
                    {% for skill in info.skills %}
                    <div class="col-6 mb-3">
                        <div class="skill-badge" style="width: 100%; text-align: center;">
                            {{ skill }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}